.hero {
  .hero-image {
    display: flex;
  }
  .hero-image-invert {
    display: none;
  }
  .hero-text {
    display: flex;
  }
}
html[data-mode="dark"] {
  .hero {
    .hero-image {
      display: none;
    }
    .hero-image-invert {
      display: flex;
    }
  }
}
