<div class="menu-bottom">
  <ul>
    {% for item in site.data.menu.bottom %}
      <li class="menu-item-{{ item.name }}">
        <a href="{{ item.url | relative_url }}" title="{{ item.name }}">
          {% if item.fa_icon %}
          <i class="{{ item.fa_icon }}"></i>
          {% else %}
          {{ item.name }}
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>