---
layout: default
body_classes: page-home
---

<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {% include framework/blocks/sections/heading.html
          title=page.title
          description=page.description
          image=page.image
        %}
      </div>
    </div>
  </div>
</div>

{% assign content = content | strip_newlines %}
{% if content != "" %}
  <div class="section pt-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="content">{{ content }}</div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% assign cards = site.notes %}
{% if cards.size > 0 %}
<div class="section bg-base-bg-2">
  <div class="container">
    <div class="row justify-content-center">
      {% for card in cards limit: 6 %}
      <div
        class="col-12 col-md-10 mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-post.html
        title=card.title
        description=card.description
        url=card.url
        %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
