---
layout: default
body_classes: page-post
---

<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {% include framework/blocks/sections/heading.html
          title=page.title
          description=page.description
          image=page.image
          align="center"
        %}
      </div>
    </div>
  </div>
</div>

<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        
        {% if page.authors %}
          <div class="mb-2">
          {% for author in page.authors %}
            {% include framework/blocks/components/author.html 
            author=author
            style='row'
            show_author_name=true
          %}
          {% endfor %}
          </div>
        {% endif %}
        
        <div class="content">{{ content }}</div>

        {% if page.categories %}
        <div class="categories">
        {% include framework/blocks/components/categories-badges.html 
            categories=page.categories
        %}
        {% endif %}
        </div>

        {% if site.disqus.shortname %}
        {% if page.comments != false %}
          <div class="comments mt-3">
            {% include framework/global/integrations/disqus.html %}
          </div>
        {% endif %}
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% if site.mailchimp.form_action_url %}
{% if page.subscribe %}
  <div class="section bg-base-bg-2">
    <div class="container">
      <div class="row">
        <div class="col-12"></div>
        {% include framework/blocks/components/subscribe.html %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endif %}
